<!-- Counter Section -->
<section id="counter" class="counter-section content-section parallax">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="white">我们的成就</h2>
      </div><!-- /.col-md-12 -->
      <div class="col-sm-3 counter-wrap">
        <span class="count-description">服务客户数量</span>
        <strong><span class="timer">120</span>+</strong>
      </div><!-- /.col-sm-3 -->
      <div class="col-sm-3 counter-wrap">
        <span class="count-description">解决方案数量</span>
        <strong><span class="timer">260</span>+</strong>
      </div><!-- /.col-sm-3 -->
      <div class="col-sm-3 counter-wrap">
        <span class="count-description">已获得专利数</span>
        <strong><span class="timer">60</span>+</strong>
      </div><!-- /.col-sm-3 -->
      <div class="col-sm-3 counter-wrap">
        <span class="count-description">日活跃企业用户</span>
        <strong><span class="timer">16500</span>+</strong>
      </div><!-- /.col-sm-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.counter-section -->