<header id="intro-carousel" class="carousel slide">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div id="parallax-slide" class="fill"></div>
        <div class="carousel-caption" style="width:100%;left:0;top: 25%">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9" id="homepage-video">
                  <video muted autoplay loop poster="assets/images/typing-on-mac.jpg">
                    <source src="assets/videos/typing-on-mac.mp4" type="video/mp4">
                  </video><p class="intro-text" style="color:black;text-align:left">公司视频</p>
                </div>
              </div>
              <div class="col-md-6" id="homepage-h1">
                <h1 class="animated slideInDown">全栈智慧化</h1>
                <h1 class="animated slideInRight">解决方案提供商</h1>
                <p class="intro-text animated slideInUp">为全球中小企业部署低成本、高校用的科技赋能</p>
                <div class="row">
                  看视频
                </div>
              </div>
            </div>
          </div>
        </div>
      <div id="homepage-overlay"></div>
    </div><!-- /.item -->
    <div class="mouse"></div>
  </div>
</header>