<!-- Our team Section -->
<section id="team" class="team content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>核心团队</h2>
        <h3 class="caption gray">核心团队汇集了来自清华、北大以及国外知名院校毕业的高端人才，以及任职BAT、路透社、IBM等国际互联网技术行业的精英</h3>
      </div><!-- /.col-md-12 -->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="/assets/images/lauren-cox.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>馨泽亿家的创始人兼首席执行官</p>
                  <ul>
                    <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>于仲阳</h4>
              <p>创始人、CEO</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="/assets/images/lauren-cox.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>主要职责和座右铭</p>
                  <ul>
                    <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>左洋</h4>
              <p>运营总监</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="/assets/images/lauren-cox.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>主要职责和座右铭</p>
                  <ul>
                    <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>吴运强</h4>
              <p>创意总监</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.our-team -->