<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        &nbsp;
      </div>
    </div>
  </div>
  
  <div class="copynote">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          &copy; 2019. {{ site.footer | default: "演示网站 "}}. All rights reserved.<br>
          备案号：xICP备xxxxxxxx0号-1
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.copynote -->
  <div class="nav pull-right scroll-top">
    <a href="#home" title="Scroll to top"><i class="fa fa-angle-up"></i></a>
  </div>
</footer><!-- /.footer -->
