#homepage-overlay{
  background: #00b8ee;
  opacity: 1;
  position: absolute;
  z-index: 1;
  width:66.666667%;
  right:0;
  top: 0;
  height: 100%;
}
h1,h2,h3,h4,h5,h6{font-weight: 200}
h1{
  font-size: 50px;
  line-height: 70px;
  text-align: left;
  margin: 0 20px;
}
@media (max-width: 1000px){
  #homepage-overlay{
    width:100%;
    opacity: 0.5;
    background:#000;
  }

  #homepage-video{
    display: none;
  }
}