<!-- Products Section -->
<section id="products" class="services content-section">
  <div class="container">
    <div class="row text-center">
        <div class="col-md-12">
          <h1 style="">为什么选择我们</h1>
        </div><!-- /.col-md-12 -->
        <div class="container">
          <div class="row text-left">
            <div class="col-md-2"></div>
            <div class="col-md-4">
            <a href="" class="btn btn-default btn-lg left" style="box-shadow: 10px -10px #bee">&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </div>
          <div class="col-md-4">
              <a href="" class="btn btn-default btn-lg left" style="box-shadow: 10px -10px #bee">&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </div>
          <div class="col-md-2"></div>
          </div>
          <div class="row text-left">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <p></p>
              <p>每一个项目  真正解决一个问题</p>
              <p>每一个创新  真正制造一个需求</p>
              <p>每一个案例  真正赋能一个行业</p>
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
              <p></p>
              <p>每一个项目  真正解决一个问题</p>
              <p>每一个创新  真正制造一个需求</p>
              <p>每一个案例  真正赋能一个行业</p>
              <div class="col-md-2"></div>
            </div><!-- /.col-md-4 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->